# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Others
*.DS_Store
*.bak
*.tmp
